<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>v-model表单绑定输入</title>
</head>
<body>
    <div id='app'>
        <input type='text' v-model='message'/>
        <span>输入的值： {{message}}</span>
    </div>
    <br/>
    <div id='app2'>
        <textarea v-model='message'>这是多行文本域的输入框</textarea>
        <span>{{message}}</span>
    </div>

    <div id='app3'>
        <input type='checkbox' id='aa' v-model='checked'>
        <label for='aa'>{{checked}}</label>
    </div>
    <div id='app4'>
        <input type='checkbox' id='java' value='java'  v-model='arr'/>java</input>
        <input type='checkbox' id='mysql' value='mysql'  v-model='arr'/>
        <label for='mysql'>mysql</label>
        <input type='checkbox' id='python' value='python'  v-model='arr'/>
        <label for='python'>python</label>
        <br/>
        <ul>
            <li v-for='item in arr'>
                {{item}}
            </li>
        </ul>
    </div>
    <div id='app5'>
        <select  v-model='selected'>
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>选择的选项：{{ selected }}</span>
    </div>

    <div id='app6'>
        <select  v-model='selected'>
            <option v-for='option in options' :value='option.value'>
            {{option.text}}
        </option>
        </select>
        <span>选择的选项：{{ selected }}</span>
    </div>

    <div id='app7'>
        <select  v-model='selected' multiple>
            <option disabled value="">请选择</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>选择的选项：{{ selected }}</span>
    </div>
    <div id='app8'>
        <label v-for='item in areas' :for='item'>
            <input type="checkbox" :id='item' :value='item' v-model='area'>{{item}}
        </label>
        <br/>
        <span>数组：{{area}}</span>
    </div>
    <div id='app9'>
        v-model修饰符lazy延迟绑定v-model.lazy<br/>
        <input type="text" v-model.lazy='message'>{{message}}
        
        
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                message:''
            }
        })
        var vm1 = new Vue({
            el:'#app2',
            data:{
                message:''
            }
        })
        var vm3 = new Vue({
            el:'#app3',
            data:{
                checked:false
            }
        })
        var vm4 = new Vue({
            el:'#app4',
            data:{
                arr:[]
            }
        })
        var vm5 = new Vue({
            el:'#app5',
            data:{
                selected:''
            }
        })
        var vm6 = new Vue({
            el:'#app6',
            data:{
                selected:'',
                options:[
                    {text:'A',value:'1'},
                    {text:'B',value:'2'},
                    {text:'C',value:'3'},
                ]
            }
        })
        var vm7 = new Vue({
            el:'#app7',
            data:{
                selected:[],
                options:[
                    {text:'A',value:'1'},
                    {text:'B',value:'2'},
                    {text:'C',value:'3'},
                ]
            }
        })
        const vm8 = new Vue({
            el:'#app8',
            data:{
                area:[],
                areas:['北京','上海','广州','成都','重庆','杭州']
            }
        })
        const vm9 = new Vue({
            el: '#app9',
            data: {
                message:'你好'
            }
        })
        
    </script>
</body>
</html>