<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>计算属性</title>
</head>
<body>
    <div id='app'>
        <input type='text' v-model='num1' aria-label="输入"/>
        <input type='text' v-model='num2' aria-label="输入"/>
        <span>计算属性得到的结果：{{ computedMessage }}</span>
        <span>方法得到的结果：{{ result }}</span>
        <h2>总价格：{{totalPrice}}</h2>
    </div>
</body> 
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            num1:'1',
            num2:'2',
            result:'',
            books:[
                {id: 01,name: "java编程",price: 110},
                {id: 02,name: "mysql语句",price: 98},
                {id: 03,name: "spring框架",price: 115}
            ]
        },
        computed:{
            computedMessage:function(){
                return parseFloat(this.num1) + parseFloat(this.num2);
            },
            totalPrice:function(){
                let result = 0
                for (let i = 0;i < this.books.length;i++) {
                    result += this.books[i].price
                }
                return result
            }
        },
        methods:{
            addNum(){
                return parseFloat(this.num1) + parseFloat(this.num2);
            }
        },
        created(){
                this.result = this.addNum();
        }
      
        
    })

</script>
</html>