<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 组件</title>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id='main'>
    <h2>记事本</h2><br/>
    <input type='text' autofocus='autofocus' @keyup.enter="add()" placeholder="请输入" ref='content' v-model="inputValue"/>
    <section class='main'>
        <ul >
            <li v-for="(i,index) in arr">
                <span>{{index + 1}}:{{i}}</span>
                <input type='button' value='删除' @click='del(index)'/>
            </li>
        </ul>
        <span v-show='arr.length!=0'>一共有{{arr.length}}条</span>
        <input type='button' value='清空' @click='clear' v-show='arr.length!=0'/>
    </section>
    <footer class="footer"></footer>
</div>

<script>
   var vm = new Vue({
       el:"#main",
       data:{
            arr:[],
            inputValue:''
       },
       methods:{
           add:function(){
                this.arr.push(this.inputValue);
           },
           del:function(index){
                this.arr.splice(index,1);//以指定下标移除元素，每次移除一个
           },
           clear:function(){
                this.arr=[]
           }
       }
   })
</script>
</body>
</html>